/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a:focus {
    outline: 1px dashed #EAD075;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********************************
 Personal stylesheet

 Colors from a original palette:
 #EAD075 - dark yellow
 #B9543C - light orange
 #A53539 - red
 #06736C - light green
 #053B44 - dark green

 Colors used on the site (some are modified):
 #20201C - dark grey (background)
 #EAD075 - dark yellow
 #B9543C - light orange
 #09AA9F - light green
 #06736C - darker green (for border and backgrounds)
 **********************************/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #20201c;
    font-family: "Quattrocento", Georgia, serif;
    color: #CCC;
}

/***********************************
 Main menu
 **********************************/
body {
    border-top: 0.5em solid #b9543c;
}

header {
    max-width: 60em; /* 60 * 16px (default size) = 960px */
    margin: 0 auto 2em auto;
}

#main-nav ul {
    margin-top: -0.5em;
    padding-left: 0.7em;
    float: left;
}

#main-nav ul li {
    float: left;
    padding: 0.7em 0.5em 0.5em 0.5em;
    border-top: 0.5em solid #B9543C;
    border-radius: 0 0 0.2em 0.2em;

    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
}

#main-nav ul li a {
    border-bottom: none;
    color: #CCC;
}

#main-nav ul li a:hover {
    color: #09AA9F;
}

#main-nav ul li.active a {
    color: white;
}

#main-nav ul li.active {
    background-color: #444;
    border-top-color: #20201C;
}

h1 {
    font-family: "Passion One", "Impact", sans-serif;
    font-size: 2em; /* 18px * 2 = 36px */
    line-height: 1; /* it should be less for rythm, but overlapping occurs */
    margin-bottom: 0.75em;
    color: #EAD075;
    text-shadow: 0 0.05em 0.05em black;
}

h2 {
    font-family: "Passion One", "Impact", sans-serif;
    font-size: 1.3333333em; /* 18px * 1.3 = 24px */
    line-height: 1.125; /* 27px */
    margin-bottom: 1.125em;
    color: #B9543C;
    text-shadow: 0 0.05em 0.05em black;
}

a, a:visited {
    /* color: #DD531D; */
    /* text-decoration: none; */
    /* border-bottom: 1px solid #DD531D; */
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

a:hover, a:focus {
    border-bottom: none;
    color: #09AA9F;
}

#intro img {
    width: 100%;
    max-width: 10em;
    margin: 0 auto 2em auto;
    display: block;
}

strong {
    font-weight: bold;
}

#main-content {
    font-size: 1.125em; /* 16px * 1.125 = 18px */
    line-height: 1.5;
    max-width: 53.3333em; /* 53.3333 * 18px = 960px */
    margin: 0 auto;
    padding: 0 1em 1em 1em;
}

.column2 {
    margin-bottom: 1.5em;
}

article {
    margin: 0 auto;
    max-width: 29em; /* 29em * 18px = 522px */
}

article p,
article ol,
article ul,
article blockquote {
    margin-bottom: 1.5em;
}

article ol,
article ul {
    margin-left: 1.2em;
}

article ul {
    list-style-type: circle;
}

article ol {
    list-style-type: decimal;
}

article blockquote {
    padding-left: 0.9em;
    font-style: italic;
    border-left: 0.3em solid #06736C;
}

article time {
    font-size: 0.75em;
    line-height: 2em;
}

/* TODO: hack, refactor this (generalize) */
article .latest-posts time,
.latest-posts time {
    font-size: 0.75em;
    line-height: 1.5em;
}

.column2 ul.latest-posts {
    list-style-type: circle;
    margin-left: 1.2em;
}
/* end hack - there are some in media queries */

.contact-list {
    margin-left: -0.2em;
}

.contact-list li {
    display: block;
    width: 50%;
    float: left;
    padding: 0.2em;
}

.contact-list li a {
    display: block;
    padding: 0.5em 0;

    text-align: center;
    background-color: #41413d;
    border-radius: 0.2em;
    border-bottom: none;
}

.contact-list li a:hover,
.contact-list li a:focus {
    color: white;
    background-color: #06736C;
}

/***********************************
 About me page
 **********************************/
#photo-and-caption #photo {
    overflow: hidden;
    text-align: center;
    height: 10em;
    border: 0.5em solid #555;
    line-height: 0;
    margin-bottom: 1.5em;
    border-radius: 0.2em;
}

#photo-and-caption #photo img {
    width: 100%;
    margin-top: -3em;
}

#short-bio,
#short-bio #photo-and-caption {
    margin-bottom: 1.5em;
}

/***********************************
 Typogrify filter
 **********************************/
.caps {
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

/***********************************
 Media queries
 **********************************/
@media only screen and (max-width: 22em) {
    #intro h1 br {
        display: none;
    }

    .contact-list {
        margin-left: 0;
    }

    .contact-list li {
        width: 100%;
        padding: 0.2em 0;
    }
}

@media only screen and (min-width: 30em) {
    /* 30em * 16px (default size) = 480px */
    #main-nav ul {
        float: right;
    }

    #main-nav ul li {
        width: auto;
        padding: 0.5em 1em;
    }

    /* profile photo in about me page */
    #photo-and-caption #photo {
        height: auto;
    }

    #photo-and-caption #photo img {
        width: 100%;
        margin-top: 0;
    }

    #photo-and-caption {
        float: left;
        width: 40%;
        margin-right: 10%;
    }

    #fun-facts {
        float: left;
        width: 50%;
    }

    #fun-facts ul {
        margin-left: 0;
    }
}

@media only screen and (min-width: 36em) {
    /* 36em * 16px (default size) = 576px */
    #intro {
        position: relative;
    }

    #intro h1 {
        font-size: 2.6666667em; /* 18px * 2.6 = 48px */
        margin-bottom: 2em;
        z-index: 2;
        position: relative;
    }

    #intro img {
        position: absolute;
        right: 5%;
        bottom: -60%;
        width: 30%;
        z-index: 1;
        margin: 0;
        max-width: none;
    }

    .column2 h2 { /* TODO: recalculate and make specific for the homepage */
        font-size: 2em; /* 18px * 2 = 36px */
        line-height: 0.75; /* 27px */
        margin-bottom: 0.75em; /* 27px */
    }

    article ul,
    article ol {
        margin-left: 0;
    }

    article blockquote {
        margin-left: -1.2em;
    }

    .contact-list li {
        width: 25%;
    }
}

@media only screen and (min-width: 42em) {
    /* 42em * 16px (default size) = 672px */
    header {
        margin: 0em auto 4em;
    }

    #intro h1 {
        font-size: 3.3333333em; /* 18px * 3.3* = 60px */
    }

    #intro img {
        bottom: -30%;
        right: 0;
    }

    .column2 {
        float: left;
        width: 50%;
        padding-right: 1em;
    }

    article {
        font-size: 1.1666667em; /* 18px * 1.16* = 21px */
    }
}

@media only screen and (min-width: 60em) {
    /* 60em * 16px (default size) = 960px */
    .column2 ul.latest-posts {
        margin-left: 0;
    }

    /* about me page */
    #photo-and-caption #photo {
        border-width: 0.7em;
    }

    #photo-and-caption, #fun-facts {
        float: none;
        width: auto;
        margin-right: 0;
    }

    #short-bio {
        float: left;
        width: 13em;
        margin-right: 4em;
        /* make the text in the sidebar a bit smaller */
        font-size: 1em;
    }

    #short-bio #fun-facts h2 {
        /* make the heading font the same size
           as in the main body text */
        font-size: 1.555em;
    }

    #long-bio {
        float: left;
    }
}

@media only screen and (min-width: 68em) {
    #short-bio {
        width: 16em;
        margin-left: -3em;
    }
}

/* taken from the HTML5 Boilerplate */
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
