---
title: Blog
---
{% extends "base.j2" %}

{% block content %}
<article class="asymetrical-columns-left reading-block clearfix">
{% filter markdown|typogrify -%}
I write about technology and design, mostly mobile and web.
Sometimes I write about people and places I visit.

Most popular posts
------------------

* [Ego - designers and programmers]([[blog/ego-designers-programmers.html]])
* [Are you an expert?]([[blog/are-you-an-expert.html]])
* [Three days to Sydney, part one]([[blog/three-days-to-sydney-part-one.html]])

[Archive]([[blog/archive.html]]) - if you're interested in
older posts or looking for something specific.
{%- endfilter %}
<div>
</article>

<article class="asymetrical-columns-right reading-block">
    <h2>Latest posts</h2>

{% for res in site.content.walk_resources_sorted_by_latest()[0:2] %}
{% refer to res.url as post %}

<h1><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h1>

{% if post.excerpt %} {# Excerpt #}
    {% set res_url = content_url(res.url) %}
    {% if post.image %}
    <a href="{{ res_url }}">{{ post.image|markdown }}</a>
    {% endif %}

    {{ [post.excerpt, " [Read more](", res_url, ")"]
       |join("")|markdown|typogrify }}

{% else %}{# Whole article #}
    {{ post.article_content|markdown|typogrify }}
{% endif %}
{% endfor %}

<hr>
<p>
    If you want to read more, check out the
    <a href="{{ content_url("blog/archive.html") }}">archive</a>.
</p>
</article>
{% endblock %}
