---
title: Blog
---
{% extends "base.j2" %}

{% block content %}
<article class="asymetrical-columns-left reading-block clearfix">
<p>I write about technology and design, mostly mobile and web.
Sometimes I write about people and places I visit.</p>

<h2>Most popular posts</h2>
<ul>
    {% for post in most_popular.posts %}
    {% set post_url = content_url(post.url) %}
    <li><a href="{{ post_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<p><a href="{{ content_url("blog/archive.html") }}">Archive</a>
- if you're interested in older posts or looking for something specific.</p>
</article>

<article class="asymetrical-columns-right reading-block">
<h2>Latest posts</h2>

{% for res in site.content.walk_resources_sorted_by_latest()[0:5] %}
{% refer to res.relative_path as post %}

<h1><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h1>
{% if post.excerpt %} {# Excerpt #}
    {% set res_url = content_url(res.url) %}
    {{ [post.excerpt, " [Read more](", res_url, ")"]
       |join("")|markdown|typogrify }}

{% else %}{# Whole article #}
    {{ post.article_content|markdown|typogrify }}
{% endif %}
<hr>
{% endfor %}

<p>
    If you want to read more, check out the
    <a href="{{ content_url("blog/archive.html") }}">archive</a>.
</p>
</article>
{% endblock %}
