RewriteEngine On
# Don't rewrite if the directory exists on the server
RewriteCond %{REQUEST_FILENAME} !-d
# Don't rewrite if the file exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
# Add .html extension to everything else
RewriteRule ^(([^/]+/)*[^./]+)/?$ /$1.html [L]

ErrorDocument 404 /page-not-found.html

# taken from https://github.com/h5bp/server-configs-apache/blob/master/src/web_performance/expires_headers.conf
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

  # CSS
    ExpiresByType text/css                              "access plus 1 year"

  # HTML
    ExpiresByType text/html                             "access plus 0 seconds"

  # JavaScript
    ExpiresByType application/javascript                "access plus 1 year"
    ExpiresByType application/x-javascript              "access plus 1 year"
    ExpiresByType text/javascript                       "access plus 1 year"

  # Media files
    ExpiresByType image/bmp                             "access plus 1 month"
    ExpiresByType image/gif                             "access plus 1 month"
    ExpiresByType image/jpeg                            "access plus 1 month"
    ExpiresByType image/png                             "access plus 1 month"
    ExpiresByType image/svg+xml                         "access plus 1 month"
</IfModule>
