---
title: About
---
{% extends "base.j2" %}

{% block content %}
<article class="asymetrical-columns-left reading-block clearfix">
<div id="photo-and-caption">
    <div id="photo">
        <img src="{{ media_url('img/profile_photo.jpg') }}"
            alt="Merlin's profile photo" />
    </div>
    <p>Interaction designer in Google. Engineer. Student of
    life. Wizard.</p>
</div>

<div id="fun-facts">
    {% filter markdown|typogrify -%}
Fun facts
---------

* Reads one book a week.
* Jumped out of the plane. Survived. Tried a few more times.
* Slept under the surface of the Earth. Not a zombie.
* Danced in front of 3.500 people. And cameras.
* Traveled to 21 countries and 3 continents.
* Never got drunk.
* Can code and design.
* Doesn't own a TV.
    {%- endfilter %}
</div>
</article>

<article class="asymetrical-columns-right reading-block">
{% filter markdown|typogrify -%}
A longer version for the curious
================================

<br>
Too many interests and not enough time to indulge in all of
them is my daily struggle. I love learning and applying that
knowledge to solving problems. I'm humble and satisfied with
life, but also very disciplined and proactive. I come from
Zagreb, Croatia and Zürich, Switzerland is my current home.

Professionally
--------------

I started working as a back-end developer while acquiring my
computer science degree, what now seems a long time ago. I
gravitated towards front-end after some time and really liked
it. Design is closely integrated with front-end so I managed
to mix my love for drawing and psychology with user interface
design.

I had worked mostly in smaller companies on projects for
international clients or markets. I even started my own studio
at one point with a couple of good friends; we had a great
time for a few years and tasted a hard life of running a
business.

I'm currently an interaction designer in Google and YouTube.
Web and mobile is where I fight for a better use of technology
and a great user experience.

Privately
---------

I like to read and spend time with friends and family when I'm
not working. I love to exercise and to be outdoors. Over the
course of my life I've tried a lot of physical activities,
sometimes suspecting that I might be "an exercise addict".

If you like to get updates on design, technology and lifelong
learning, you should follow me on
<a data-action="track-event" data-gacategory="Outgoing links"
   data-gaaction="Twitter link" data-galabel="From about me"
   href="https://twitter.com/merlinrebrovic">Twitter</a>.

The profile photo is courtesy of Monika Kovaljesko.
{%- endfilter %}
</article>
{% endblock %}
