{% extends "base.j2" %}

{% block content %}
<div id="intro">
    <h1>
        Hi, my name is Merlin.<br />
        I'm a wizard engineer &amp;<br />
        I make stuff happen.</h1>
    <img src="{{ media_url('img/hat.png') }}" alt="Wizard's hat" />
</div>
<div class="clearfix">
    <div class="column2">
        <h2>Latest posts</h2>
        {% from "macros.j2" import render_latest_posts with context %}
        {{ render_latest_posts(count=3) }}
        <br />
        <p>Sometimes I write on the
        <a href="http://www.fiveminutes.eu/author/merlin-rebrovic/">
            Five Minutes&rsquo; blog</a>.</p>
    </div>
    <div class="column2">
        <h2>Featured projects</h2>
        <p><a href="/hyde-starter-kit/" target="_blank">
            Hyde Starter Kit</a></p>
        <p>An introductory template helping you start with Hyde, a static
        website generator.</p>
        <br />
        <p><a href="http://www.kadcekisa.com/" target="_blank">
            Kad ce Kisa</a></p>
        <p>A weather forecasting project for central Croatia leveraging
        technology and intensive social media.</p>
    </div>
</div>
<p>You can find me on:</p>
<ul class="contact-list clearfix">
    <li><a href="http://twitter.com/merlinrebrovic">Twitter</a></li>
    <li><a href="http://www.linkedin.com/in/merlinrebrovic">LinkedIn</a></li>
    <li><a href="https://github.com/merlinrebrovic">GitHub</a></li>
    <li><a href="http://www.slideshare.net/merlinrebrovic">SlideShare</a></li>
</ul>
{% endblock %}
