{% extends "base.j2" %}

{% block content %}
<div id="intro">
    <h1>
        Hi, my name is Merlin.<br>
        I love to build things.</h1>
    <p class="roles">Designer. Engineer. Wizard.</p>
    <ul class="contact-list clearfix">
        <li><a href="https://twitter.com/merlinrebrovic">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/merlinrebrovic">LinkedIn</a></li>
        <li><a href="https://github.com/merlinrebrovic">GitHub</a></li>
        <li><a href="http://www.slideshare.net/merlinrebrovic">SlideShare</a></li>
    </ul>
    <img src="{{ media_url('img/hat.png') }}" alt="A sketch of a wizard's hat" />
</div>
<div class="grid-row clearfix">
    <div class="column-half">
        <h2>Latest posts</h2>
        {{ macros.render_latest_posts(count=5) }}
    </div>
    <div class="column-half">
        <h2>Featured projects</h2>
        <p><a href="/projects/focus-vim">
            Focus.vim</a></p>
        <p>A Vim plugin that removes clutter and makes working on
            a widescreen monitor enjoyable.</p>
        <br />
        <p><a href="/hyde-starter-kit/">
            Hyde Starter Kit</a></p>
        <p>An introductory template helping you start with Hyde, a static
        website generator.</p>
        <br />
        <p><a href="http://www.kadcekisa.com/">
            Kad ce Kisa</a></p>
        <p>A weather forecasting project for central Croatia leveraging
        technology and intensive social media.</p>
    </div>
</div>
{% endblock %}
