---
title: Speaking
blog_post: False
---
{% extends "base.j2" %}

{% block content %}
<article class="asymetrical-columns-left reading-block speaking clearfix">
    This is a full list of all public talks and
    workshops I did over the last few years.
    <a href="#bio">My short bio and a link to a profile photo</a>
    can be found at the bottom of the page.
</article>

<article class="asymetrical-columns-right speaking reading-block">
<h1>Events</h1>
{% filter markdown|typogrify -%}

<h2>World Information Arhitecture Day</h2>
<p class="post-meta">Conference, 2014-02-15, Zagreb, Croatia</p>

Title: Navigating the Mobile World

The talk covered navigation and presentation patterns on the
two most popular mobile platforms of the day: iOS and Android.
We looked deeply into the similarities and differences between
them, best practices and real life examples.

* [external blog post](http://www.uxpassion.com/blog/interaction-design/wiad-video-talk-navigating-mobile-world)
* [video on Vimeo](http://vimeo.com/97146773)

<h2>Faculty of Electrical Engineering and Computing</h2>
<p class="post-meta">University, 2013-12-18, Zagreb, Croatia</p>

Title: The basics of design and user interfaces

Introducing basic design principles to computer science
students in a guest lecture as a part of "Java in business
environments" curriculum. After the lecture we continued with
a sketching workshop where students presented interfaces of
their projects and we tried to find problems and possible
solutions to them. _(Repeated the same talk from last year,
listed lower on the page)_

<h2>Webtanken</h2>
<p class="post-meta">Conference, 2013-11-28, Kristiansand, Norway</p>

Title: Mobile Commerce&mdash;Technical Overview

Smartphones became essential part of our lives even though
they went mainstream only a few years ago. The consequence is
that we're still learning how people use mobile technology and
especially how they approach mobile shopping. There are many
different technologies to build your m-commerce solution upon,
each with specific pros and cons. In this talk I presented
what technology to choose in a particular situation and how
each solution empowers customers and improves online store
business. 

<h2>Advanced Technology Day 9</h2>
<p class="post-meta">Conference, 2013-12-02, Zagreb, Croatia</p>

Title: Be Beatiful

_(Repeated the earlier WebCamp talk listed below)_

<h2>WebCamp Zagreb</h2>
<p class="post-meta">Conference, 2013-10-26, Zagreb, Croatia</p>

Title: Be Beatiful

The talk described the process of modifying the existing
beauty and cosmetics web shop BliVakker to a mobile version,
helping it become the biggest and most profitable norwegian
mobile shop in its niche.

* [SlideShare presentation](http://www.slideshare.net/merlinrebrovic/blivakker)
* [Blog post about the talk]([[ blog/webcamp-zagreb-2013-talk.html ]])
* [Blog post about the conference]([[ blog/webcamp-zagreb-2013-conference.html ]])
* [Official web](http://2013.webcampzg.org/speakers/merlin-rebrovic/)
* [YouTube video](http://www.youtube.com/watch?v=a3Vhu9w0rps) (in Croatian)

<h2>Windays 13</h2>
<p class="post-meta">Conference, 2013-04-24, Umag, Croatia</p>

Title: Building Modern Software:  User Experience and Design

Do you remember the days when all that was needed was to be
first or have the most features? They are over. Users have
become much smarter and more demanding. The only way to be
successful is to think of design being as important as
engineering. This talk described how designer and developer
roles intertwine from the beginning and how they should have
user's goals in mind during the whole project.

* [SlideShare presentation](http://www.slideshare.net/merlinrebrovic/building-modern-software-ux-and-design)
* [Blog post]([[ blog/windays-2013.html ]])

<h2>App Start Contest</h2>
<p class="post-meta">University, 2013-03-20, Zagreb, Croatia</p>

Title: Coding is only half the story

App Start Contest is a student contest of building mobile apps
at the University of Zagreb. There was a series of guest
lectures helping students organize, plan and implement their
app, and I did the same lecture about visual communication
from WebCamp 2012.

* [SlideShare presentation](http://www.slideshare.net/merlinrebrovic/programiranje-je-samo-pola-price)

<h2>Faculty of Electrical Engineering and Computing</h2>
<p class="post-meta">University, 2012-12-17, Zagreb, Croatia</p>

Title: The basics of design and user interfaces

Introducing basic design principles to computer science
students in a guest lecture as a part of "Java in business
environments" curriculum. After the lecture we continued with
a sketching workshop where students presented interfaces of
their projects and we tried to find problems and possible
solutions to them.

<h2>WebCamp Zagreb</h2>
<p class="post-meta">Conference, 2012-11-24, Zagreb, Croatia</p>

Title: Coding is only half the story

The other half is client and team communication. This talk
revolved around visual communication tools like sketches,
wireframes and clickable prototypes, all with the goal of
having shared understanding of the project.

* [SlideShare presentation](http://www.slideshare.net/merlinrebrovic/programiranje-je-samo-pola-price)
* [Blog post]([[ blog/webcamp-zagreb-2012.html ]])
* [Official web](http://2012.webcampzg.org/merlin-rebrovic-programiranje-je-samo-pola-price/)
* [YouTube video](http://www.youtube.com/watch?v=WK1J80W6z2E) (in Croatian)

<h2>Code @ Six</h2>
<p class="post-meta">Meetup, 2012-03-22, Zagreb, Croatia</p>

Title: Hacking Git history  

In a short on-hands session I showed how to best change and
break Git history through available command line tools.

<h2>Web User Group</h2>
<p class="post-meta">Meetup, 2011-10-25, Zagreb, Croatia</p>

Title: Static website generators

Static websites are back. They're fast, secure and simple, and
if you need dynamic parts, most of it can be done through
JavaScript. They are not cure for everything, but have their
specific uses. There are many tools&mdash;static website
generators&mdash;that can help you with building and managing
one.

* [SlideShare presentation](http://www.slideshare.net/merlinrebrovic/static-website-generators)

<h2>MobileCamp Ljubljana</h2>
<p class="post-meta">Conference, 2010-03-27, Ljubljana, Slovenia</p>

Developing mobile web&mdash;examples and experience
 
Zoran Meliš and I talked about and demonstrated mobile web
development processes and environments. It was only a few
years ago, but mobile technology was very different then.
{%- endfilter %}

<h1 id="bio">Bio</h1>
<p>
Merlin works as an interaction designer at Google and YouTube.
With a computer science degree and a few years of working
experience in the field, he shifted to design realizing that
you need both design and engineering to make great products.
When not building something new, Merlin can be found reading
or relaxing in nature.
</p>

<p><a href="/pub/profile_HD.jpg">Profile photo</a>
(1000 x 1000 px)</p>
</article>
{% endblock %}
