{% extends "base.j2" %}

{% block content %}
<article class="blog-post">

{% if resource.meta.created -%}
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%Y-%m-%d') }}
</time>
{%- endif %}

{% if resource.meta.title -%}
<h1>{{ resource.meta.title }}</h1>
{%- endif %}

{% filter markdown|typogrify -%}
    {% block article_content %}{% endblock %}
{%- endfilter %}

</article>
{% endblock %}
