{% import "macros.j2" as macros with context %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if resource.meta.title -%}
                {{ resource.meta.title }}
            {%- else -%}
                Wizard engineer
            {%- endif %} | Merlin Rebrović</title>
{% if site.config.mode == "development" -%}
    {# Use local fonts for development. #}
    <link rel="stylesheet" href="{{ media_url('css/fonts.css') }}" type="text/css">
{% endif %}
{% set cssfile = site.content.resource_from_relative_path('media/css/style.css') %}
    <link rel="stylesheet" href="{{ cssfile.full_url }}?v={{ cssfile.meta.content_hash }}" type="text/css">
</head>
<body>
    <header>
    {{ macros.render_main_navigation() }}
    </header>

    <div id="main-content" class="clearfix">
    {# This check was introduced when Hyde started using Jinja 2.7
       which broke this website. More details about the issue:
       https://github.com/mitsuhiko/jinja2/pull/84#issuecomment-19208621

       Lakshmi suggested:
         * Differentiate the listing page from the content pages
         * Use an alternate root block for content pages
         * Call the block instead of declaring it in base template
     #}
    {% if not resource.meta.blog_post %}
    {% block content %}{% endblock %}
    {% else %}
    {{ self.blog_post() }}
    {% endif %}
    </div>

{% if site.config.mode == "production" %}
{% include "fonts.j2" %}
{% include "ga.j2" %}
{% endif %}
</body>
</html>
