{% import "macros.j2" as macros with context %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if resource.meta.title -%}
                {{ resource.meta.title }}
            {%- else -%}
                Wizard engineer
            {%- endif %} | Merlin Rebrović</title>
{#
 # Use local fonts for development and host from Google for production.
 #}
{% if site.config.mode == "production" -%}
    <link href="http://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
{% else %}
    <link rel="stylesheet" href="{{ media_url('css/fonts.css') }}">
{% endif %}
    <link rel="stylesheet" href="{{ media_url('css/style.css') }}?v=3">
</head>
<body>
    <header>
    {{ macros.render_main_navigation() }}
    </header>

    <div id="main-content" class="clearfix">
    {% block content %}{% endblock %}
    </div>

{% if site.config.mode == "production" -%}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.meta.ga_tracking_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%- endif %}
</body>
</html>
