{% macro latest_posts(count=None) -%}
<ul class="latest-posts">
{# I didn't use sorter provided by grouper plugin because it sorts
   resources inside each group and if I request everything together,
   they are sorted "in blocks". #}
{% for res in site.content.walk_resources_grouped_by_category()|sort(
    reverse=True, attribute='meta.created') %}
{% if count is not none %}
    {% if loop.index > count %}{% break %}{% endif %}
{% endif %}
<li>
    <a href="{{ res.full_url }}">{{ res.meta.title }}</a>
    <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    {{ res.meta.created.strftime('%Y-%m-%d') }}
    </time>
</li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro render_main_navigation() -%}
<nav id="main-nav" class="clearfix">
<ul class="clearfix">
    {% for item in menu %}
    {% set active = False -%}
    {% if item.type == 'page' -%}
        {% set active = (resource.url ==
            site.content.resource_from_relative_path(item.url).url) -%}
    {% else -%}
        {% set active = (node ==
            site.content.node_from_relative_path(item.url)) -%}
    {%- endif %}
    <li><a {% if active %}class="active"{% endif %}
        href="{{ content_url(item.url) }}{% if item.type == 'node' %}/{% endif %}">
        {{ item.name }}
    </a></li>
    {% endfor %}
</ul>
</nav>
{%- endmacro %}
